<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script
            src="https://kit.fontawesome.com/c9149b938d.js"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
        />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <link rel="stylesheet" href="./static/style.css" />

        <!-- make item modal button -->
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                // Functions to open and close a modal
                function openModal($el) {
                    $el.classList.add("is-active");
                }

                function closeModal($el) {
                    $el.classList.remove("is-active");
                }

                function closeAllModals() {
                    (document.querySelectorAll(".modal") || []).forEach(
                        ($modal) => {
                            closeModal($modal);
                        }
                    );
                }

                // Add a click event on buttons to open a specific modal
                (document.querySelectorAll(".modal-button") || []).forEach(
                    ($trigger) => {
                        const modal = $trigger.dataset.target;
                        const $target = document.getElementById(modal);

                        $trigger.addEventListener("click", () => {
                            openModal($target);
                        });
                    }
                );

                // Add a click event on various child elements to close the parent modal
                (
                    document.querySelectorAll(
                        ".modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button"
                    ) || []
                ).forEach(($close) => {
                    const $target = $close.closest(".modal");

                    $close.addEventListener("click", () => {
                        closeModal($target);
                    });
                });
                // (
                //     document.querySelectorAll(
                //         ".modal-background, .modal-close,  .cancle"
                //     ) || []
                // ).forEach(($close) => {
                //     const $target = $close.closest(".modal");

                //     $close.addEventListener("click", () => {
                //         closeModal($target);
                //     });
                // });

                // Add a keyboard event to close all modals
                document.addEventListener("keydown", (event) => {
                    const e = event || window.event;

                    if (e.keyCode === 27) {
                        closeAllModals();
                    }
                });
            });

            function blank_check() {
                let title = $("#item-title").val();

                let item_link = $("#item-link").val();
                let chat_link = $("#chat-link").val();

                if (title == "") {
                    alert("제목을 입력하세요");
                } else if (item_link == "") {
                    alert("제품 링크를 기입하세요");
                } else if (chat_link == "") {
                    alert("카카오톡 링크를 입력하세요");
                } else {
                    postItem();
                }
            }
            // post item
            function postItem() {
                let title = $("#item-title").val();
                let content = $("#item-content").val();
                let item_link = $("#item-link").val();
                let chat_link = $("#chat-link").val();
                let time_exp = $("#item-time").val();
                let min_people = $("#item-min-people").val();
                let user = "{{user['id']}}";

                $.ajax({
                    type: "POST",
                    url: "/main",
                    data: {
                        title,
                        content,
                        item_link,
                        chat_link,
                        time_exp,
                        min_people,
                        user,
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert("포스팅 성공!!!");
                            window.location.reload();
                        } else {
                            if (response["result"] == "fail") {
                                alert(response["msg"]);
                            } else {
                                alert("❌error occured");
                            }
                        }
                    },
                });
            }

            function showdetail(num) {
                $.ajax({
                    type: "GET",
                    url: "/detail",
                    data: { num: num },
                    success: function (response) {
                        if (response) {
                            // 전달받은 데이터가 있을 경우
                            window.location.href = "/detail?num=" + num;
                        } else {
                            // 전달받은 데이터가 없을 경우
                            alert("해당 게시물을 찾을 수 없습니다.");
                        }
                    },
                });
            }
            // logout
            function logout() {
                $.removeCookie("mytoken", { path: "/" });
                window.location.href = "/";
            }
        </script>

        <title>배달의 MATE</title>
    </head>
    <body>
        <div class="container is-fluid">
            <div id="posting_num" class="hide">{{ items|length }}</div>
            <div class="profile">
                <span class="tag is-black">{{user['name']}}</span>
                <span class="tag is-black">{{user['class']}}</span>

                <tag onclick="logout()" class="tag is-warning"> 로그아웃 </tag>
            </div>
            <div class="columns is-mobile">
                <div class="column is-4 is-offset-4 logo"></div>
            </div>

            <div class="tabs is-centered">
                <ul class="">
                    <li class="navbar-helper is-active" id="list-continue-btn">
                        <a data-target="card-list-continue">진행 중...</a>
                    </li>
                    <li class="navbar-helper" id="list-finish-btn">
                        <a>종료</a>
                    </li>
                </ul>
            </div>

            <div id="card-list-continue">
                {% for i in items %}
                <div
                    class="card"
                    id="{{i['num']}}"
                    onclick='showdetail({{i["num"]}})'
                >
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img
                                src='{% if i["url_image"] %}{{ i["url_image"] }}{% else %}{{img_logo}}{% endif %}'
                                alt="이미지를 불러올 수 없습니다."
                            />
                        </figure>
                    </div>

                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="is-4">{{ i["title"] }}</p>
                            </div>
                            <div
                                class="sub-color hide"
                                id="time_exp_{{i['num']}}"
                            >
                                {{ i["time_exp"] }}
                            </div>
                            <div
                                class="sub-color"
                                id="rest_time_{{i['num']}}"
                            ></div>
                        </div>

                        <div class="content">
                            <p>
                                참여인원
                                <span id="current_{{i['num']}}"
                                    >{{ i["cur_people"] }}</span
                                >
                                /
                                <span id="minimum_{{i['num']}}"
                                    >{{ i["min_people"] }}</span
                                >
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div id="card-list-finish" class="hide"></div>

            <!-- make button -->
            <div class="make-btn-helper">
                <i
                    class="fa-solid fa-plus fa-xl modal-button"
                    id="make-item"
                    data-target="modal-write"
                ></i>
            </div>

            <!-- modal -->
            <div id="modal-write" class="modal">
                <div class="modal-background"></div>

                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="text-center">글 올리기</p>
                    </header>
                    <section class="modal-card-body">
                        <div class="field">
                            <input
                                class="input"
                                type="text"
                                placeholder="제목(상호명,상품명)"
                                id="item-title"
                                required
                            />
                        </div>
                        <div class="field">
                            <textarea
                                class="textarea"
                                placeholder="내용을 입력해주세요"
                                rows="5"
                                id="item-content"
                            ></textarea>
                        </div>
                        <div class="field">
                            <input
                                id="item-link"
                                class="input"
                                type="text"
                                placeholder="제품 링크(배민 링크,상품 링크 등)"
                                required
                            />
                        </div>
                        <div class="field">
                            <input
                                id="chat-link"
                                class="input"
                                type="text"
                                placeholder="오픈카카오톡 링크"
                                required
                            />
                        </div>
                        <!-- <div class="control"> -->
                        <div class="columns half-flex">
                            <div class="column half-flex half">
                                <div class="field half-width">
                                    <label style="color: black"
                                        >기한(시간)
                                    </label>
                                </div>
                                <div class="hour-select half-width">
                                    <select class="half-width" id="item-time">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>9</option>
                                        <option>12</option>
                                        <option>24</option>
                                        <option>48</option>
                                        <option>72</option>
                                    </select>
                                </div>
                            </div>
                            <div class="column half half-flex">
                                <div class="field half-width">
                                    <label style="color: black"
                                        >목표인원(명)
                                    </label>
                                </div>
                                <div class="min-select half-width">
                                    <select
                                        class="half-width"
                                        id="item-min-people"
                                    >
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot half-flex">
                        <button class="button sub-bg-color half">취소</button>
                        <submit
                            class="button main-bg-color half"
                            onclick="blank_check()"
                        >
                            등록
                        </submit>
                    </footer>
                </div>
            </div>
        </div>

        <script>
            // show hide tab
            const continueBtn = document.querySelector("#list-continue-btn");
            const finishBtn = document.getElementById("list-finish-btn");

            continueBtn.addEventListener("click", () => {
                continueBtn.classList.add("is-active");
                finishBtn.classList.remove("is-active");
                hideShow();
            });
            finishBtn.addEventListener("click", () => {
                finishBtn.classList.add("is-active");
                continueBtn.classList.remove("is-active");
                let time_now = Date.now() / 60 / 1000; // 분단위 현재 시간
                for (i = 1; i <= posting_num; i++) {
                    card_id = i;
                    time_exp = "#time_exp_" + i;
                    let rest_time = parseInt($(time_exp).text() - time_now);
                    let rest_time_minute = rest_time % 60;
                    let rest_time_hour = parseInt(rest_time / 60);

                    rest_time_id = "#rest_time_" + i;

                    let cur_people_id = "#current_" + i;
                    let min_people_id = "#minimum_" + i;
                    cur_people = parseInt($(cur_people_id).text());
                    min_people = parseInt($(min_people_id).text());
                    if (rest_time < 0 || cur_people == min_people) {
                        $(rest_time_id).text("공동구매 종료");
                        $("#" + i).show();
                    } else {
                        $(rest_time_id).text(
                            rest_time_hour + ":" + rest_time_minute
                        );
                        $("#" + i).hide();
                    }
                }
                clearInterval(interval);
            });

            posting_num = parseInt($("#posting_num").text());
            function hideShow() {
                let time_now = Date.now() / 60 / 1000; // 분단위 현재 시간
                for (i = 1; i <= posting_num; i++) {
                    card_id = i;
                    time_exp = "#time_exp_" + i;
                    let rest_time = parseInt($(time_exp).text() - time_now);
                    let rest_time_minute = rest_time % 60;
                    let rest_time_hour = parseInt(rest_time / 60);

                    rest_time_id = "#rest_time_" + i;

                    let cur_people_id = "#current_" + i;
                    let min_people_id = "#minimum_" + i;
                    cur_people = parseInt($(cur_people_id).text());
                    min_people = parseInt($(min_people_id).text());
                    if (rest_time < 0 || cur_people == min_people) {
                        $(rest_time_id).text("공동구매 종료");
                        $("#" + i).hide();
                    } else {
                        $(rest_time_id).text(
                            String(rest_time_hour).padStart(2, "0") +
                                ":" +
                                String(rest_time_minute).padStart(2, "0")
                        );
                        $("#" + i).show();
                    }
                }
            }

            hideShow();

            if (finishBtn.classList.contains("is-active")) {
                let interval = setInterval(hideShow, 10000);
            }
        </script>
    </body>
</html>
